@CHARSET "UTF-8";

@font-face {
    font-family: "cine";
    src: url("cinecaption2.28/cinecaption2.28.ttf") format("truetype");
}

/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
 blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
 img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
 center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
 tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
 figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-family: "cine";
}

/* Clearing floats */
.clear:after,
.footer-widget-area:after,
#article-group:after {
	clear: both;
}

.clear:before,
.clear:after,
#article-group:before,
#article-group:after,
.footer-widget-area:before,
.footer-widget-area:after {
	display: table;
	content: "";
}

#wpadminbar {
	position: fixed;
}
#page{
	width:100%;
}


/* Mast Head ----------------------------------------------------*/
#masthead {
	height: 55px;
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
	border-bottom:solid 10px #58ACFA;
}

#masthead #header-inner{
	height:47px;
	width: 80%;
	margin: 0 auto;
	padding: 3px;
	position: relative;
	background-color: #ffffff;

}

#header-title-area{
	/*border: 1px solid #000000;*/
	margin: 0px;
	padding: 3px;
	width: 800px;
	/*height: 50px;*/
	background-color: #ffffff;
	float: left;

}

#header-title-area .site-title-img{
	/*border: 1px solid #000000;*/
}

#header-widget-area{
	/*border: 1px solid #000000;*/
	padding: 0px;
	position: absolute;
	bottom: 3px; right: 3px;
}

#header-widget-area .searchform {
	float: right;
}

#header-widget-area .searchform input#s {
	background: url("images/bg_search.png") no-repeat 8px center;
	width: 120px;
	width: 14rem;
	height: 20px;
	height: 2.0rem;
	border: 2px solid #58ACFA;
	margin: 0;
	padding: 0 0 0 30px;
	padding: 0 0 0 3rem;
	position: relative;
	-webkit-transition: width 400ms ease 0s, background 400ms ease 0s;
	-moz-transition: width 400ms ease 0s, background 400ms ease 0s;
	-ms-transition: width 400ms ease 0s, background 400ms ease 0s;
	-o-transition: width 400ms ease 0s, background 400ms ease 0s;
	transition: width 400ms ease 0s, background 400ms ease 0s;
}

#header-widget-area .searchform input#s:hover {
	background: url("images/bg_search.png") no-repeat 8px center;
	width: 120px;
	width: 14rem;
	/*margin: 0 20px 0 0;
	margin: 0 2rem 0 0;*/
	padding: 0 0 0 30px;
	padding: 0 0 0 3rem;
	background-color: #ebf8fb;
	border: 2px solid #a9e1eb;
}


#header-widget-area .searchform input#searchsubmit {
	display: none;
}


#header-widget-area .searchform input#searchsubmit {
	display: none;
}

/* admin ----------------------------------------------------*/

#admin{
	background-color: #FAFAFA;
}

#contents_admin{
	padding: 10px;
	margin: auto;
	width: 670px;
}

#admin .post{
    background:#ffffff;
    padding: 15px;
    width: 650px;
    margin:auto;
    margin-top:10px;
    margin-bottom:40px;
    clear:both;

    border: 1px solid #f0f0f0;
    border-bottom: 2px solid #ccc;
    /* IE以外なら丸角も！ */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    overflow : hidden;

}

#admin_image {
    width: 120px;
    float: left;
    padding :5px ;
    background:#fff;
    margin:10px; /* テキストとの距離 */

    border: 1px solid #f0f0f0;
    border-bottom: 2px solid #ccc;
    /* IE以外なら丸角も！ */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.more{
    float: right;

}

/* ----競合修正2015/06/05---- */
table.table-tag{
	width: 100%;
}

table.table-tag td{
	width: 12.5%;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	font-size: 40px;
	color: #ffffff;
	background: #22afcd;
	border-top: 5px solid #113388;
	border-right: 5px solid #113388;
	border-left: 5px solid #113388;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;


}

/*----ここにトップ画面の商品一覧の画像の下に文字を回り込む設定をする----*/
img.img_goods{
	float: none;
}

.text-goods{
	clear: both;
}
/*----ここまでが競合修正----*/

/*item_top--------------------------------------------------------------*/
.contents_item{
	height: 600px;
	background-color: #FAFAFA;
	margin: 0px;
}

#item_list{
	width: 80%;
	margin: 10px auto;
}

#item_list ul {
  list-style: none;
  top: 0;
  height: 280px;
  margin: 0;
  padding: 0;
  text-align: center;
  letter-spacing: -1em;
}

#item_listul li,
#item_listul li dl {
  width: 280px;
  height: 260px;
}

#item_list li {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0 7px;
  letter-spacing: 0;
}

#item_list dl {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 20px 25px;
  color: #fff;
  background: rgba(205,92,92,.9);
}

#item_list ul dl dt {
  margin-bottom: 0.3em;
}

#item_list ul dl dd {
  margin: 0;
  font-size: 10px;
  line-height: 1.6;
  text-align: justify;
  word-break: break-all;
}

#item_list ul dl dd:last-of-type {
  margin-top: 10px;
  text-align: right;
}

#item_list ul a {
  padding: 0.3em 0.5em;
  background-color: #fff;
  color: lightSeaGreen;
}

#item_list ul a:hover {
  color: indianRed;
  text-decoration: none;
}

#item_top_image{
	width: 280px;
    height: 260px;
    border: 1px solid #f0f0f0;
    border-bottom: 2px solid #ccc;
    /* IE以外なら丸角も！ */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* type1 */
.type1 dl {
  width: 280px;
  height: 260px;
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.6s, transform 0.6s;
}

.type1:hover dl {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}



