@CHARSET "UTF-8";

@font-face {
    font-family: "cine";
    src: url("cinecaption2.28/cinecaption2.28.ttf") format("truetype");
}

/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
 blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
 img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
 center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
 tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
 figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-family: "cine";
}

/* Clearing floats */
.clear:after,
.footer-widget-area:after,
#article-group:after {
	clear: both;
}

.clear:before,
.clear:after,
#article-group:before,
#article-group:after,
.footer-widget-area:before,
.footer-widget-area:after {
	display: table;
	content: "";
}

#wpadminbar {
	position: fixed;
}


/* Mast Head ----------------------------------------------------*/
#masthead {
	height: 200px;
	margin: 0px;
	padding: 0px;
	background-color: #22afcd;
}

#masthead #header-inner{
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 10px; left: 70px; right: 70px;
	background-color: #ffffff;

}

#header-title-area{
	/*border: 1px solid #000000;*/
	margin: 0px;
	padding: 3px;
	width: 1100px;
	height: 50px;
	background-color: #ffffff;
	float: left;

}

#header-title-area .site-title-img{
	border: 1px solid #000000;
}

#header-widget-area{
	/*border: 1px solid #000000;*/
	height: 50px;
	padding: 0px;
	width :120px;
	float: left;
}

#header-widget-area .searchform {
	padding: 0;
}

#header-widget-area .searchform input#s {
	background: url("images/bg_search.png") no-repeat 8px center;
	width: 120px;
	width: 14rem;
	height: 20px;
	height: 2.0rem;
	margin: 0 20px 0 0;
	margin: 0 2rem 0 0;
	padding: 2px 10px 0 60px;
	padding: 0.2rem 1rem 0 6rem;
	border: 2px solid #CEF6F5;
	cursor: pointer;
	position: relative;
	-webkit-transition: width 400ms ease 0s, background 400ms ease 0s;
	-moz-transition: width 400ms ease 0s, background 400ms ease 0s;
	-ms-transition: width 400ms ease 0s, background 400ms ease 0s;
	-o-transition: width 400ms ease 0s, background 400ms ease 0s;
	transition: width 400ms ease 0s, background 400ms ease 0s;
}

#header-widget-area .searchform input#s:hover {
	background: url("images/bg_search.png") no-repeat 8px center;
	width: 120px;
	width: 14rem;
	margin: 0 20px 0 0;
	margin: 0 2rem 0 0;
	padding: 0 0 0 30px;
	padding: 0 0 0 3rem;
	background-color: #ebf8fb;
	border: 2px solid #a9e1eb;
}


#header-widget-area .searchform input#searchsubmit {
	display: none;
}

/* admin ----------------------------------------------------*/

#admin{
	background-color: #FAFAFA;
}

.contents{
	padding: 10px;
	margin: auto;
	width: 670px;
}

#admin .post{
    background:#ffffff;
    padding: 15px;
    width: 650px;
    margin:auto;
    margin-top:10px;
    margin-bottom:40px;
    clear:both;

    border: 1px solid #f0f0f0;
    border-bottom: 2px solid #ccc;
    /* IE以外なら丸角も！ */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    overflow : hidden;

}

#admin_image {
    width: 120px;
    float: left;
    padding :5px ;
    background:#fff;
    margin:10px; /* テキストとの距離 */

    border: 1px solid #f0f0f0;
    border-bottom: 2px solid #ccc;
    /* IE以外なら丸角も！ */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.more{
    float: right;

}

/* ----競合修正2015/06/05---- */
table.table-tag{
	width: 100%;
}

table.table-tag td{
	width: 12.5%;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	font-size: 40px;
	color: #ffffff;
	background: #22afcd;
	border-top: 5px solid #113388;
	border-right: 5px solid #113388;
	border-left: 5px solid #113388;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;


}
/*----ここまでが競合修正----*/

