@CHARSET "UTF-8";

@font-face {
	font-family: "cine";
	src: url("cinecaption2.28/cinecaption2.28.ttf") format("truetype");
}

/* =Reset
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-family: "cine";
}

/* Clearing floats */
.clear:after, .footer-widget-area:after, #article-group:after {
	clear: both;
}

.clear:before, .clear:after, #article-group:before, #article-group:after,
	.footer-widget-area:before, .footer-widget-area:after {
	display: table;
	content: "";
}

#wpadminbar {
	position: fixed;
}

#page {
	width: 100%;
}

/* Mast Head ----------------------------------------------------*/
#masthead {
	height: 70px;
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
	border-bottom: solid 10px #58ACFA;
}

#masthead #header-inner {
	height: 60px;
	width: 80%;
	margin: 0 auto;
	padding: 3px;
	position: relative;
	background-color: #ffffff;
}

#header-title-area {
	/*border: 1px solid #000000;*/
	margin: 0px;
	padding: 3px;
	width: 800px;
	/*height: 50px;*/
	background-color: #ffffff;
	float: left;
}

#header-title-area .site-title-img {
	/*border: 1px solid #000000;*/
}

#header-widget-area {
	/*border: 1px solid #000000;*/
	padding: 0px;
}

#header-widget-area .searchform {
/* 	float: right; */
}

#header-widget-area .searchform input#s {
	background: url("images/bg_search.png") no-repeat 8px center;
	width: 120px;
	width: 14rem;
	height: 20px;
	height: 2.0rem;
	border: 2px solid #58ACFA;
	margin: 0;
	padding: 0 0 0 30px;
	padding: 0 0 0 3rem;
	position: relative;
	-webkit-transition: width 400ms ease 0s, background 400ms ease 0s;
	-moz-transition: width 400ms ease 0s, background 400ms ease 0s;
	-ms-transition: width 400ms ease 0s, background 400ms ease 0s;
	-o-transition: width 400ms ease 0s, background 400ms ease 0s;
	transition: width 400ms ease 0s, background 400ms ease 0s;
}

#header-widget-area .searchform input#s:hover {
	background: url("images/bg_search.png") no-repeat 8px center;
	width: 120px;
	width: 14rem;
	/*margin: 0 20px 0 0;
	margin: 0 2rem 0 0;*/
	padding: 0 0 0 30px;
	padding: 0 0 0 3rem;
	background-color: #ebf8fb;
	border: 2px solid #a9e1eb;
}

#header-widget-area .searchform input#searchsubmit {
	display: none;
}

#header-widget-area .searchform input#searchsubmit {
	display: none;
}

/* FOOTR----------------------------------------------------*/
.footer {
	width: 100%;
	height: 20px;
	margin-top: 0px;
	background-color: #58ACFA;
}

/* admin ----------------------------------------------------*/
#admin {
	background-color: #FAFAFA;
}

#contents_admin {
	padding: 10px;
	margin: auto;
	width: 670px;
}

#admin .post {
	background: #ffffff;
	padding: 15px;
	width: 650px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 40px;
	clear: both;
	border: 1px solid #f0f0f0;
	border-bottom: 2px solid #ccc;
	/* IE以外なら丸角も！ */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}

#admin_image {
	width: 120px;
	float: left;
	padding: 5px;
	background: #fff;
	margin: 10px; /* テキストとの距離 */
	border: 1px solid #f0f0f0;
	border-bottom: 2px solid #ccc;
	/* IE以外なら丸角も！ */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.more {
	float: right;
}

/* ----競合修正2015/06/05---- */
table.table-tag {
	width: 100%;
}

table.table-tag td {
	width: 12.5%;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	font-size: 40px;
	color: #ffffff;
	background: #22afcd;
	border-top: 5px solid #113388;
	border-right: 5px solid #113388;
	border-left: 5px solid #113388;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
/*----ここまでが競合修正----*/

/*----ここにトップ画面の商品一覧の画像の下に文字を回り込む設定をする----*/
img.img_goods {
	width: 200px;
	height: 130px;
	float: none;
	vertical-align: middle;
}

.text-goods {
	clear: both;
}

/* item_top ----------------------------------------------------*/
.contents_item {
/* 	height: 1000px; */
	background-color: #FAFAFA;
	padding: 10px;
}

#item_center {
	margin: 0px auto;
	width: 80%;
	overflow: hidden;
}

/*----カテゴリ検索欄----*/
#item_category {
	width: 300px;
	height: 700px;
	float: left;
	margin-right: 10px;
}

#item_category ul li {
	height: 35px;
}

#item_category li  a {
	color: black;
	text-decoration: none;
}

#item_category li a:hover {
	background: -webkit-gradient(linear, left top, right bottom, from(#58ACFA),
		to(#FAFAFA));
}

.category p {
	border-left: 3px solid #58ACFA;
	background: -webkit-gradient(linear, left top, right bottom, from(#58ACFA),
		to(#FAFAFA));
}

/*----商品の画像表示設定----*/
#item_list {
	width: 874px;
	float: right;
}

#item_list ul {
	list-style: none;
	top: 0;
	height: 200px;
	margin: 0;
	padding: 0;
	text-align: center;
	letter-spacing: -1em;
}

#item_listul li, #item_listul li dl {
	width: 280px;
	height: 260px;
}

#item_list li {
	display: inline-block;
	position: relative;
	overflow: hidden;
	margin: 7px 7px;
	letter-spacing: 0;
}

#item_list dl {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: absolute;
	top: 0;
	margin: 0;
	padding: 20px 25px;
	color: #fff;
	background: rgba(205, 92, 92, .9);
}

#item_list ul dl dt {
	margin-bottom: 0.3em;
}

#item_list ul dl dd {
	margin: 0;
	font-size: 10px;
	line-height: 1.6;
	text-align: justify;
	word-break: break-all;
}

#item_list ul dl dd:last-of-type {
	margin-top: 10px;
	text-align: right;
}

#item_list ul a {
	padding: 0.3em 0.5em;
	background-color: #fff;
	color: lightSeaGreen;
}

#item_list ul a:hover {
	color: indianRed;
	text-decoration: none;
}

#item_top_image {
	width: 280px;
	height: 260px;
	border: 1px solid #f0f0f0;
	border-bottom: 2px solid #ccc;
	/* IE以外なら丸角も！ */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* type1 */
.type1 dl {
	width: 280px;
	height: 260px;
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
	transition: opacity 0.6s, transform 0.6s;
}

.type1:hover dl {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

/*----商品の詳細表示設定----*/
#item_tail {
	width: 874px;
	float: right;
}

/*----商品の詳細画像表示設定----*/
#wrapper {
	overflow: hidden;
	width: 100%;
	padding: 0;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
}

input[type="radio"] {
	display: none;
}

#slideshow {
	position: relative;
	width: 100%;
}

.slideContents {
	position: relative;
	background: #58ACFA;
	text-align: center;
	-webkit-user-select: none;
	user-select: none;
}

.slideContents {
	width: 400%;
	-webkit-transition: -webkit-transform .6s;
	transition: transform .6s;
}

.slideContents::after {
	content: "";
	display: block;
	clear: both;
}

.slideContents section {
	float: left;
	width: 25%;
	-webkit-transition: opacity .6s;
	transition: opacity .6s;
}

.slideContents section img {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	max-width: 100%;
	height: auto;
	padding: 0 50px;
	vertical-align: middle;
}

/* :::::: slideshow mechanism :::::: */
#switch1:checked ~ #slideshow .slideContents {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

#switch2:checked ~ #slideshow .slideContents {
	-webkit-transform: translateX(-25%);
	transform: translateX(-25%);
}

#switch3:checked ~ #slideshow .slideContents {
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

#switch4:checked ~ #slideshow .slideContents {
	-webkit-transform: translateX(-75%);
	transform: translateX(-75%);
}

#switch5:checked ~ #slideshow .slideContents {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

/* :::::: arrows :::::: */
.arrow, .arrow label, .arrow .ico {
	position: absolute;
}

.arrow {
	top: 0;
	margin: 0;
	transition: background .3s;
}

.prev {
	left: 0;
}

.next {
	right: 0;
}

.arrow:hover {
	background: rgba(255, 255, 255, .2);
}

.arrow, .arrow label {
	cursor: pointer;
	width: 50px;
	height: 100%;
}

.arrow label {
	top: 0;
	left: 0;
	z-index: 1;
}

.arrow .ico {
	top: 50%;
	width: 12px;
	height: 12px;
	margin-top: -6px;
	border-top: 3px solid #fff;
	border-right: 3px solid #fff;
	opacity: 0;
	transition: right .6s, left .6s, opacity .6s;
}

.arrow:hover .ico {
	opacity: .6;
	transition-duration: .3s;
}

.prev .ico {
	left: 60%;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.next .ico {
	right: 60%;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.prev:hover .ico {
	left: 30%;
}

.next:hover .ico {
	right: 30%;
}

/* :::::: arrows mechanism :::::: */
.arrow label {
	pointer-events: none;
}

#switch1:checked ~ #slideshow .prev label[for="switch5"], #switch2:checked
	 ~ #slideshow .prev label[for="switch1"], #switch3:checked ~ #slideshow .prev label[for="switch2"],
	#switch4:checked ~ #slideshow .prev label[for="switch3"], #switch5:checked
	 ~ #slideshow .prev label[for="switch4"], #switch1:checked ~ #slideshow .next label[for="switch2"],
	#switch2:checked ~ #slideshow .next label[for="switch3"], #switch3:checked
	 ~ #slideshow .next label[for="switch4"], #switch4:checked ~ #slideshow .next label[for="switch5"],
	#switch5:checked ~ #slideshow .next label[for="switch1"] {
	pointer-events: auto;
}

/*----商品情報に関する設定----*/
#item {
	width: 855px;
	height: 500px;
	margin: 10px;
}

#item_info {
	float: left;
	overflow: hidden;
}

#item_name {
	width: 635px;
	height: 40px;
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
	border-radius: 8px 8px 0px 0px;
	margin-bottom: 6px;
	padding: 3px;
	position: relative;
}

#item_explanation {
	width: 601px;
	height: 400px;
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
	border-radius: 0px 0px 8px 8px;
	padding: 20px;
}

#explanation_tail {
	width: 559px;
	height: 100px;
	margin-top: 5px;
	padding: 20px;
	border: 1px solid #c0c0c0;
	border-radius: 8px 8px 8px 8px;
}

#item_cart {
	width: 200px;
	height: 255px;
	float: right;
	margin-left: 10px;
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
	border-radius: 8px 8px 8px 8px;
}

#cart_info {
	width: 180px;
	height: 160px;
	margin: 10px;
}

.btn a {
	display: block;
	cursor: pointer;
	width: 150px;
	margin: 0 auto;
	padding: 20px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #20b2aa;
	border-radius: 5px;
	box-shadow: 0 6px 0 #047c71, 0 12px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: color 0.3s, background-color 0.3s, box-shadow 0.3s,
		-webkit-transform 0.3s;
	transition: color 0.3s, background-color 0.3s, box-shadow 0.3s,
		transform 0.3s;
}

.btn a:hover {
	background-color: #3cc4bd;
	box-shadow: 0 3px 0 #12978d, 0 6px 0px rgba(0, 0, 0, 0.2);
	-webkit-transform: translateY(3px);
	transform: translateY(3px);
}

.btn a:active {
	color: #ddd;
	background-color: #12978d;
	box-shadow: 0 0 0 #047c71, 0 0 0px rgba(0, 0, 0, 0.2);
	-webkit-transform: translateY(6px);
	transform: translateY(6px);
	transition-duration: 0.1s;
}

/*----トップの画像に関する設定----*/
#header-top-image {
	margin: 0px;
	padding: 0px;
	float: none;
}

/*----商品一覧の表示を中央に----*/
table.goods-table {
	margin: 0 auto;
	text-align: left;
}

/*----ログイン用の入力フォーム----*/
#header-login-form {
	margin: 0px;
	padding: 5px;
	width: 220px;
	height: 50px;
	float: right;
}

#header-login-form input[type=text] ,
#header-login-form input[type=password]{
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -o-border-radius: 5px;
   -ms-border-radius: 5px;
   border:#a9a9a9 1px solid;
   -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.2),0 0 2px rgba(0,0,0,0.3);
   -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
   box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
   width:130px;
   height:20px;
   padding:0 3px;
   margin: 1px;
}

#form-id :focus {
	border-width: 5px;
	outline-width: 5px;
	border-color: #22afcd;
}

#form-password :focus {
	border-width: 5px;
	outline-width: 5px;
	border-color: #22afcd;
}

#header-login-form input[type=submit]{
	border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -o-border-radius: 5px;
   -ms-border-radius: 5px;
   border:#a9a9a9 1px solid;
   -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.2),0 0 2px rgba(0,0,0,0.3);
   -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
   box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
   width:70px;
   height:25px;
   padding:0 3px;
   cursor:pointer;
   color:#333;
   font-weight:bold;
   background:#f5f5f5;
   text-shadow:1px 1px 0px #fff;
}

/*----会員ページのBODY部分----*/
#mypage-body {
	width: 820px;
	margin: 30px;
	padding: 20px;
	float: right;
}

#mypage_tab {
  display: table;
  width: 100%;
  margin: 0 0 1px;
  padding: 0;
}

#mypage_tab li {
  display: table-cell;
  width: 20%;
  border-right: 1px solid #fff;
  background-color: #20b2aa;
  text-align: center;
  vertical-align: middle;
}

#mypage_tab li a {
  display: block;
  cursor: pointer;
  padding: 10px 0;
  color: #fff;
  text-decoration: none;
  transition: background-color .3s;
}

#mypage_tab li a:hover {
  background-color: rgba(205,92,92,.5);
}

#mypage-body-inner {
	border: 1px solid #f0f0f0;
	border-bottom: 2px solid #ccc;
	background-color: #ffffff;
	width: 800px;
	height: 500px;
	padding: 15px;
}

/*---- 新規登録画面 ----*/
#register_title , #company_title {
	width: 854px;
	height: 25px;
	background-color: #ffffff;
	padding: 10px;
	margin-bottom: 20px;
	float: right;
	border: 1px solid #c0c0c0;
}

#content_input {
	width: 794px;
	height: 870px;
	padding: 40px;
	background-color: #ffffff;
	float: right;
	border: 1px solid #c0c0c0;
}

#lead {
	width: 730px;
	height: 30px;
	background-color: #ffffff;
	margin-bottom: 25px;
}

#input_table {
	width: 730px;
	height: 810px;
	overflow: hidden;
}

.must, .cont, .box120 {
	vertical-align: middle;
}

.name th, .gender th, .birth th, .zip th, .address th, .number th,
	.email th, .job th, .password th {
	width: 200px;
	height: 45px;
	text-align: left;
	vertical-align: middle;
}

.must {
	width: 50px;
	height: 45px;
}

.cont {
	width: 480px;
	height: 45px;
}

.address .cont {
	width: 480px;
	height: 160px;
}

.email .cont {
	width: 480px;
	height: 100px;
}

.password .cont {
	width: 480px;
	height: 140px;
}

.box120 {
	width: 174px;
	height: 28px;
}

.radio input {
	display: none;
}

.radio label {
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin-left: 20px;
	padding: 10px 20px;
	border-radius: 2px;
	color: #000000;
	text-align: center;
	line-height: 1;
}

.radio label:before {
	position: absolute;
	content: "";
	top: 50%;
	left: -10px;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	background: #ffffff;
	border-radius: 50%;
	border: 1px solid #19283C;
}

.radio input[type="radio"]:checked+label:after {
	position: absolute;
	content: "";
	top: 50%;
	left: -4px;
	width: 8px;
	height: 8px;
	margin-top: -4px;
	border-radius: 50%;
	background: #0080ff;
}

.birth .select {
	width: 100px;
	heigth: 20px;
	float: left;
	overflow: hidden;
}

.job .select {
	width: 200px;
	height: 60px;
}

.tblareabtn {
	float: right;
	overflow: hidden;
}

.tblareabtn input {
	display: block;
	cursor: pointer;
	width: 150px;
	margin: 15px;
	padding: 10px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #20b2aa;
	border-radius: 5px;
	box-shadow: 0 6px 0 #047c71, 0 12px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: color 0.3s, background-color 0.3s, box-shadow 0.3s,
		-webkit-transform 0.3s;
	transition: color 0.3s, background-color 0.3s, box-shadow 0.3s,
		transform 0.3s;
}

.tblareabtn input:hover {
	background-color: #3cc4bd;
	box-shadow: 0 3px 0 #12978d, 0 6px 0px rgba(0, 0, 0, 0.2);
	-webkit-transform: translateY(3px);
	transform: translateY(3px);
}

.tblareabtn input:active {
	color: #ddd;
	background-color: #12978d;
	box-shadow: 0 0 0 #047c71, 0 0 0px rgba(0, 0, 0, 0.2);
	-webkit-transform: translateY(6px);
	transform: translateY(6px);
	transition-duration: 0.1s;
}

/*---- 会員登録確認画面 ----*/
.table_user th {
	width: 200px;
	text-align: left;
	vertical-align: middle;
	text-align: left;
}

/*---- カート画面 ----*/
#cart_title{
	width: 854px;
	height: 25px;
	background-color: #ffffff;
	padding: 10px;
	margin-bottom: 20px;
	float: right;
	border: 1px solid #c0c0c0;
}

#cart_contents{
	width: 794px;
	padding: 40px;
	background-color: #ffffff;
	float: right;
	border: 1px solid #c0c0c0;
}

#cart_check{
	border: 1px solid #ffffff;
	width: 500px;
}

#cart_td {
	text-align: left;
	vertical-align: middle;
}

#button_delete {
	border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -o-border-radius: 5px;
   -ms-border-radius: 5px;
   border:#a9a9a9 1px solid;
   -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.2),0 0 2px rgba(0,0,0,0.3);
   -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
   box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
   width:60px;
   height:25px;
   padding:0 3px;
   cursor:pointer;
   color:#333;
   font-weight:bold;
   background:#f5f5f5;
   text-shadow:1px 1px 0px #fff;
   float: right;
}

#cart_buy , .mypage_botton{
	border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -o-border-radius: 5px;
   -ms-border-radius: 5px;
   border:#a9a9a9 1px solid;
   -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.2),0 0 2px rgba(0,0,0,0.3);
   -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
   box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
   width:90px;
   height:25px;
   padding:0 3px;
   cursor:pointer;
   color:#333;
   font-weight:bold;
   background:#f5f5f5;
   text-shadow:1px 1px 0px #fff;
   float: right;
}

/* ----カンパニー---- */

.email2 th, .message th{
	width: 200px;
	height: 45px;
	text-align: left;
	vertical-align: middle;
}

.email2 .cont {
	width: 480px;
	height: 45px;
}

.message .cont{
	width: 550px;
	height: 300px;
}

.box400{
	width: 550px;
	height: 300px;
}

#content_input2{
	width: 794px;
	height: 630px;
	padding: 40px;
	background-color: #ffffff;
	float: right;
	border: 1px solid #c0c0c0;
}

#content_input3{
	width: 794px;
	height: 150px;
	padding: 40px;
	background-color: #ffffff;
	float: right;
	border: 1px solid #c0c0c0;
}

#botton_index{
	border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -o-border-radius: 5px;
   -ms-border-radius: 5px;
   border:#a9a9a9 1px solid;
   -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.2),0 0 2px rgba(0,0,0,0.3);
   -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
   box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
   width:120px;
   height:25px;
   padding:0 3px;
   cursor:pointer;
   color:#333;
   font-weight:bold;
   background:#f5f5f5;
   text-shadow:1px 1px 0px #fff;
   float: right;
   text-align: center;
   text-decoration: none
}